@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Raleway:wght@100;200;300;400;500;700;800;900&display=swap');

body {
    background-color: #DAF7FB;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Chewy', sans-serif;
    text-align: center;
}

h1 {
    font-size: 4.5rem;
    padding: 20px 0px 40px 0px;
}

p {
    font-family: 'Raleway', sans-serif;
}

/*-------------------------------------------------------------------------------- navbar */

.bg-nav {
    background-color: #E9DBFA;
}

.d-inline-block {
    border-radius: 50%;
}

.navbar-brand {
    font-family: 'Chewy', sans-serif;
    font-size: 40px;

}

.nav-link {
    font-family: 'Raleway', sans-serif;
}

/*-------------------------------------------------------------------------------- Cards  */

.card-header {
    font-size: 18px;
    text-align: center;
    color: #000000;
    background-color: #b6b3d1;
}

h5.card-title {
    font-size: 25px;
}

h6.card-title {
    font-size: 20px;
}

p.card-text {
    text-align: justify;
}

.card-footer {
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    background-color: #b6b3d1;
}

/*-------------------------------------------------------------------------------- Contact  */

.input-group-text {
    background-color: #b6b3d1;
}

.btn {
    display: flex;
    background-color: #b6b3d1;
    color: #000000;
    border-color: #000000;
}

/*-------------------------------------------------------------------------------- Footer  */

footer i {
    color: #000;
}