@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Raleway:wght@100;200;300;400;500;700;800;900&display=swap');

/* GLOBAL STYLES */

/* sets the background colour and the font family for the body of the website */
body {
  background-color: #DAF7FB;
  font-family: 'Raleway', sans-serif;
}

/* sets the headings to Merriweather font, centers the text and adds padding */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

  /* Adds extra padding on the sides of the container*/
.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

/* NAVBAR */

  /* Additional padding added to the navbar to push in the navbar image and toggler */
.navbar {
  padding: 0.75rem 1.5rem;
}

  /* navbar background colour */
.bg-nav {
  background-color: #E9DBFA;
}

  /* Styling to the navbar image to make it a circle */
.navbar-brand img {
  border-radius: 50%;
}
  /* To style the navbar brand with merriweather font, which is being used for headings, & heading font weight */
.navbar-brand {
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;
  font-weight: 500;

}

.dropdown-menu {
  background-color: #d6b6ff;
}

/* to style the navbar links colour */
.navbar-light .navbar-nav .nav-link {
  color: #000000;
  font-size: 1.25rem;
}

/* HOVER STYLING - hover.css from https://ianlunn.github.io/Hover/ */

/* Hover.css to style the navbar links */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}

.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}

.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}


@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

  /* hover.css to style the footer links */
.hvr-push {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-push:hover,
.hvr-push:focus,
.hvr-push:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* CAROUSEL */

  /* Adjusting the opacity of the side control panels */
.carousel-control-next, .carousel-control-prev {
  opacity: 0.2;
}

/* PADDING  */

.about-us-container {
  padding-top: 20px;
  padding-bottom: 50px;
}

.card-container {
  padding-top: 20px;
  padding-bottom: 50px;
}

.form-container {
  padding-top: 20px;
  padding-bottom: 100px;
}

  /* adding padding to the layout of the cards on books page */
div.col-12.col-lg-3 {
  padding-left: 30px;
  padding-right: 30px;
}

  /* adding padding the the join us section */
.join-us {
  text-align: center;
  padding-bottom: 100px;
}


/* CARDS */

  /* To make the cards all align at the same height */
  .card {
    height: 100%;
  }

  /*styling the badge in the card header */
.badge-primary {
  background-color: #000000;
  color: #d6b6ff;
  padding: 5px;
}

  /* Styling the card headers*/
.card-header {
    padding: 0.75rem 1.25rem;
    background-color: #d6b6ff;
    font-size: 1.5rem;
    font-family: 'Merriweather', serif;
    text-align: center;
}

  /* justify the card text */
p.card-text {
  text-align: justify;
}

  /* this media query hides the text within the card from displaying on screens smaller than a tablet*/
@media only screen and (max-width: 576px) {
  .card-body {
    display: none;
  }
}

  /* styling the card footer */
.card-footer {
  font-size: 1.125rem;
  text-align: center;
  color: #000000;
  background-color: #d6b6ff;
  border-top: none;
}

/* FORM */

  /*change the background colour */
.input-group-text {
  background-color: #d6b6ff;
}

.text-muted {
  color: #000000;
}

/* change the colour of the button */
.btn {
  display: flex;
  background-color: #E9DBFA;
  color: #000000;
  border-color: #d6b6ff;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active {
  color: #000000;
  background-color: #E9DBFA;
  border: #d6b6ff 3px solid;
}


.btn:focus {
  color: #000000;
  background-color: #E9DBFA;
  border: #d6b6ff 3px solid;
}

.btn-primary:focus {
  color: #000000;
  background-color: #E9DBFA;
  border-color: #d6b6ff;
  box-shadow: 0 0 0 0.2rem rgb(214 182 255 / 50%);
}

/* FOOTER */

  /* Aligning the icons central in their containers */
.footer-container {
  text-align: center;
  
}

  /*change the size & colour of the icons in the footer */
footer i {
  color: #000;
  font-size: 1.25rem;
}
