@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Raleway:wght@100;200;300;400;500;700;800;900&display=swap');

body {
    background-color: #DAF7FB;
}

h1 {
    font-size: 4.5rem;
    padding: 20px 0px 40px 0px;
}

h1, h2 {
    font-family: 'Chewy', sans-serif;
    text-align: center;
}

p {
    font-family: 'Raleway', sans-serif;
}

/*-------------------------------------------------------------------------------- navbar */

.bg-nav {
    background-color: #E9DBFA;
}

.navbar-brand {
    font-family: 'Chewy', sans-serif;
}

.nav-link {
    font-family: 'Raleway', sans-serif;
}

/*-------------------------------------------------------------------------------- footer  */

footer i {
    color: #000;
}